In [1]:
print("Data Analysis with Pandas")

Data Analysis with Pandas

# Data Analysis with Pandas

## bike-stats

In [2]:
import pandas as pd

In [3]:
bike_trip = pd.read_csv('trip.csv', error_bad_lines=False)
bike_trip.describe()

/home/bashar/401level/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

             trip_id   tripduration      birthyear
count  286857.000000  286857.000000  181553.000000
mean   112431.968012    1178.295675    1979.759062
std     76565.154943    2038.458947      10.167119
min       431.000000      60.008000    1931.000000
25%     43051.000000     387.924000    1974.000000
50%    103487.000000     624.842000    1983.000000
75%    179545.000000    1118.466000    1987.000000
max    255245.000000   28794.398000    1999.000000

In [4]:
bike_station = pd.read_csv('station.csv')
bike_station.describe()

             lat        long  install_dockcount  current_dockcount
count  58.000000   58.000000          58.000000          58.000000
mean   47.624796 -122.327242          17.586207          16.517241
std     0.019066    0.014957           3.060985           5.117021
min    47.598488 -122.355230          12.000000           0.000000
25%    47.613239 -122.338735          16.000000          16.000000
50%    47.618591 -122.328206          18.000000          18.000000
75%    47.627712 -122.316691          18.000000          18.000000
max    47.666145 -122.284119          30.000000          26.000000

In [5]:
bike_weather = pd.read_csv('weather.csv')
bike_weather.describe()

,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Sea_Level_Pressure_In,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Precipitation_In
count,689.000000,688.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.000000,689.00000,689.000000
mean,64.027576,56.584302,49.454282,48.571843,45.021771,40.873730,84.541364,68.506531,49.973875,30.121742,30.034761,29.940610,9.989840,9.429608,7.245283,11.085631,4.63135,0.105065
std,12.427843,10.408058,9.451437,7.501230,7.914025,8.854608,9.718948,12.701871,15.825701,0.183367,0.197503,0.221803,0.266679,1.174360,3.281278,3.921087,2.78032,0.235644
min,39.000000,33.000000,23.000000,10.000000,4.000000,1.000000,40.000000,24.000000,15.000000,29.470000,29.310000,29.140000,3.000000,1.000000,0.000000,4.000000,0.00000,0.000000
25%,55.000000,48.000000,43.000000,44.000000,41.000000,36.000000,78.000000,60.000000,38.000000,30.010000,29.930000,29.840000,10.000000,9.000000,4.000000,8.000000,3.00000,0.000000
50%,63.000000,56.000000,50.000000,50.000000,46.000000,42.000000,86.000000,70.000000,50.000000,30.120000,30.040000,29.960000,10.000000,10.000000,9.000000,10.000000,4.00000,0.000000
75%,73.000000,65.000000,57.000000,54.000000,51.000000,47.000000,90.000000,79.000000,63.000000,30.240000,30.160000,30.080000,10.000000,10.000000,10.000000,13.000000,6.00000,0.090000
max,98.000000,83.000000,70.000000,77.000000,59.000000,57.000000,100.000000,95.000000,87.000000,30.860000,30.810000,30.750000,10.000000,10.000000,10.000000,30.000000,23.00000,2.200000

## What is the average trip duration for a borrowed bicycle?

In [6]:

def borrowed_bicycle_average_trip_duration():
    average_trip_duration = bike_trip['tripduration'].mean()
    return average_trip_duration


borrowed_bicycle_average_trip_duration()

1178.2956753399776

## What’s the most common age of a bicycle-sharer

In [7]:
def common_age_bicycle_sharer():
    common_age = bike_trip['birthyear'].mode().iloc[0]
    return (2021 - int( common_age))


common_age_bicycle_sharer()

34

## Given all the weather data here, find the average precipitation per month, and the median precipitation

In [8]:
def average_precipitation_median():
    avg_precipitation_data = bike_weather[["Date",'Precipitation_In']].mean().iloc[0]
    precipitation_median = bike_weather[["Date", 'Precipitation_In']].median().iloc[0]
    return avg_precipitation_data, precipitation_median


average_precipitation_median()

/tmp/ipykernel_16626/933807651.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_precipitation_data = bike_weather[["Date",'Precipitation_In']].mean().iloc[0]
/tmp/ipykernel_16626/933807651.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  precipitation_median = bike_weather[["Date", 'Precipitation_In']].median().iloc[0]

(0.10506531204644412, 0.0)

## What’s the average number of bikes at a given bike station?

In [9]:
def average_number_of_bikes():
    bike_average = bike_station['current_dockcount'].mean()
    return int(bike_average)


average_number_of_bikes()

16

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [10]:
def stats_after_modification():
    install_avg = bike_station['install_dockcount'].mean()
    current_avg = bike_station['current_dockcount'].mean()
    if install_avg > current_avg:
        return("will lose")
    else:
        return("will gain")


stats_after_modification()

'will lose'

# User Acceptance Tests

In [11]:
def test():
    def assert_equal(actual, expected, test_name):
        assert actual == expected, f"Expected {expected} but got {actual}"
        print(test_name,  "## Success!!! ##")
    
    assert_equal(borrowed_bicycle_average_trip_duration(), 1178.2956753399776, 'test_borrowed_bicycle_average_trip_duration')

    assert_equal(common_age_bicycle_sharer(), 34, 'test_common_age_bicycle_sharer')

    assert_equal(average_precipitation_median(), (0.10506531204644412, 0.0), 'test_average_precipitation_median')

    assert_equal(average_number_of_bikes(), 16, 'test_average_number_of_bikes')

    assert_equal(stats_after_modification(), "will lose", 'test_stats_after_modification')


test()

test_borrowed_bicycle_average_trip_duration ## Success!!! ##
test_common_age_bicycle_sharer ## Success!!! ##
test_average_precipitation_median ## Success!!! ##
test_average_number_of_bikes ## Success!!! ##
test_stats_after_modification ## Success!!! ##

/tmp/ipykernel_16626/933807651.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_precipitation_data = bike_weather[["Date",'Precipitation_In']].mean().iloc[0]
/tmp/ipykernel_16626/933807651.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  precipitation_median = bike_weather[["Date", 'Precipitation_In']].median().iloc[0]