In [1]:
print("Data Analysis with Pandas")

Data Analysis with Pandas

# Data Analysis with Pandas

## vg-stats

In [2]:
import pandas as pd
data_folder = pd.read_csv('./vgsales.csv')
data_folder.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

### Which company is the most common video game publisher?

In [3]:
def most_common_publisher():
    publisher = data_folder['Publisher']
    mos_com_publisher = publisher.value_counts().idxmax()
    return mos_com_publisher


most_common_publisher()

'Electronic Arts'

### Whatâ€™s the most common platform?

In [4]:
def most_common_platform():
    platform = data_folder['Platform']
    mos_com_platform = platform.value_counts().idxmax()
    return mos_com_platform

most_common_platform()

'DS'

### What about the most common genre?

In [5]:
def most_common_Genre():
    Genre = data_folder['Genre']
    mos_com_Genre = Genre.value_counts().idxmax()
    return mos_com_Genre
    
most_common_Genre()

'Action'

### What are the top 20 highest grossing games?

In [6]:
def top_twenty_highest_grossing_games():
    highest_grossing = data_folder[["Name", "Global_Sales"]]
    top_highest_grossing = highest_grossing.sort_values("Global_Sales", ascending=False).iloc[:20]
    return top_highest_grossing


top_twenty_highest_grossing_games()

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, whatâ€™s the median?

- Provide a secondary output showing ten games surrounding the median sales output

- assume that games with the same median value are sorted in descending order

In [7]:
def na_median_sales():
    na_sales = data_folder["NA_Sales"]
    na_median_sales = na_sales.median()
    return na_median_sales

na_median_sales()

0.08

In [8]:
import numpy as np
mgs = data_folder["NA_Sales"].median()

def ten_median_na_seller_names():
    ten_names = []
    ten_data_na_median_sales = data_folder[data_folder["NA_Sales"] == np.mean(mgs)][["Name", "NA_Sales"]]
    ten_data_na_median_sales = ten_data_na_median_sales.sort_values("NA_Sales", ascending=False)
    ten_data_na_median_sales = ten_data_na_median_sales.iloc[:10].Name
    for _ in ten_data_na_median_sales:
        ten_names.append(_)
    return ten_names


ten_median_na_seller_names()

['Dragon Warrior IV',
 'Hunter: The Reckoning',
 "Dora & Kai-Lan's Pet Shelter",
 'Hot Wheels: Stunt Track Challenge',
 'FIFA Street',
 'Colin McRae Rally 04',
 "Dora's Cooking Club",
 'Blitz: The League II',
 'Beyond Good & Evil',
 'Syberia']

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:

def z_score_na_sales_games():
    z_score_na_sales = ((data_folder["NA_Sales"].max() - data_folder["NA_Sales"].mean())/data_folder["NA_Sales"].std())
    return z_score_na_sales

z_score_na_sales_games()

50.47898767479108

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [10]:
def wii_sales():
    global_sales_Wii_Platform = data_folder[[
        'Platform', 'Global_Sales']][data_folder['Platform'] == 'Wii'].mean().iloc[0]
    global_sales_other_Platform = data_folder[[
        'Platform', 'Global_Sales']][data_folder['Platform'] != 'Wii'].mean().iloc[0]

    NA_Sales_Wii_Platform = data_folder[[
        'Platform', 'NA_Sales']][data_folder['Platform'] == 'Wii'].mean().iloc[0]
    NA_Sales_other_Platform = data_folder[[
        'Platform', 'NA_Sales']][data_folder['Platform'] != 'Wii'].mean().iloc[0]

    EU_Sales_Wii_Platform = data_folder[[
        'Platform', 'EU_Sales']][data_folder['Platform'] == 'Wii'].mean().iloc[0]
    EU_Sales_other_Platform = data_folder[[
        'Platform', 'EU_Sales']][data_folder['Platform'] != 'Wii'].mean().iloc[0]

    JP_Sales_Wii_Platform = data_folder[[
        'Platform', 'JP_Sales']][data_folder['Platform'] == 'Wii'].mean().iloc[0]
    JP_Sales_other_Platform = data_folder[[
        'Platform', 'JP_Sales']][data_folder['Platform'] != 'Wii'].mean().iloc[0]
        
    Other_Sales_Wii_Platform = data_folder[[
        'Platform', 'Other_Sales']][data_folder['Platform'] == 'Wii'].mean().iloc[0]
    Other_Sales_other_Platform = data_folder[[
        'Platform', 'Other_Sales']][data_folder['Platform'] != 'Wii'].mean().iloc[0]
        
    return f"""
    |average_global_sales_Wii_Platform: ({global_sales_Wii_Platform},) average_global_sales_other_Platform: ({global_sales_other_Platform})|
    |average_NA_Sales_Wii_Platform: ({NA_Sales_Wii_Platform}), average_NA_Sales_other_Platform: ({NA_Sales_other_Platform})|
    |average_EU_Sales_Wii_Platform: ({EU_Sales_Wii_Platform}), average_EU_Sales_other_Platform: ({EU_Sales_other_Platform})|
    |average_JP_Sales_Wii_Platform: ({JP_Sales_Wii_Platform}), average_JP_Sales_other_Platform: ({JP_Sales_other_Platform})|
    |average_Other_Sales_Wii_Platform: ({Other_Sales_Wii_Platform}), average_Other_Sales_other_Platform: ({Other_Sales_other_Platform})|
    """

In [11]:
print(wii_sales())

    |average_global_sales_Wii_Platform: (0.6994037735849057,) average_global_sales_other_Platform: (0.5233896418516336)|
    |average_NA_Sales_Wii_Platform: (0.383177358490566), average_NA_Sales_other_Platform: (0.2543861716755058)|
    |average_EU_Sales_Wii_Platform: (0.20255094339622642), average_EU_Sales_other_Platform: (0.14180252733582138)|
    |average_JP_Sales_Wii_Platform: (0.05233962264150944), average_JP_Sales_other_Platform: (0.0799888692463825)|
    |average_Other_Sales_Wii_Platform: (0.06083773584905661), average_Other_Sales_other_Platform: (0.046954756760295945)|

/tmp/ipykernel_16657/655969873.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  global_sales_Wii_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  global_sales_other_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  NA_Sales_Wii_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  NA_Sales_other_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  EU_Sales_Wii_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  EU_Sales_other_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  JP_Sales_Wii_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  JP_Sales_other_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Other_Sales_Wii_Platform = data_folder[[
/tmp/ipykernel_16657/655969873.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Other_Sales_other_Platform = data_folder[[

### Come up with 3 more questions that can be answered with this data set.

**what is the game that has the highest rank?**

In [12]:
def highest_Rank_games():
    highest_Rank = data_folder[["Name","Rank"]]
    top_highest_Rank = highest_Rank.sort_values("Rank").iloc[0].Name
    return top_highest_Rank 


highest_Rank_games()

'Wii Sports'

**what is the game that has the highest global_sales?**

In [13]:
def highest_global_sales_games():
    highest_Rank = data_folder[["Name", "Global_Sales"]]
    top_highest_Rank = highest_Rank.sort_values("Global_Sales", ascending=False).iloc[0].Name
    return top_highest_Rank


highest_global_sales_games()

'Wii Sports'

**in which year did the game that has the highest global sales published?**

In [14]:
def highest__sales_games():
    highest_Rank = data_folder[['Name', 'Year']][data_folder['Name'] == highest_global_sales_games()]
    top_highest_Rank = int(highest_Rank.iloc[0].Year)
    return top_highest_Rank


highest__sales_games()

2006

## User Acceptance Tests

In [15]:
def test():

    def assert_equal(actual, expected, test_name):
        assert actual == expected, f"Expected {expected} but got {actual}"
        print(f"{test_name}    ## Success!!! ## ")

    assert_equal(most_common_publisher(), 'Electronic Arts', 'test_most_common_publisher')

    assert_equal(most_common_platform(), 'DS', 'test_most_common_platform')

    assert_equal(most_common_Genre(), 'Action', 'test_most_common_Genre')

    assert_equal(top_twenty_highest_grossing_games().iloc[0].Name, 'Wii Sports', 'test_top_twenty_highest_grossing_games[0]' )

    assert_equal(top_twenty_highest_grossing_games(
    ).iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day', 'test_top_twenty_highest_grossing_games[19]')
    
    assert_equal(na_median_sales(), 0.08, "test_na_median_sales")
    
    assert_equal(ten_median_na_seller_names(), ['Dragon Warrior IV', 'Hunter: The Reckoning', "Dora & Kai-Lan's Pet Shelter", 'Hot Wheels: Stunt Track Challenge',
                 'FIFA Street', 'Colin McRae Rally 04', "Dora's Cooking Club", 'Blitz: The League II', 'Beyond Good & Evil', 'Syberia'], "test_ten_median_na_seller_names")

test()

test_most_common_publisher    ## Success!!! ##
test_most_common_platform    ## Success!!! ##
test_most_common_Genre    ## Success!!! ##
test_top_twenty_highest_grossing_games[0]    ## Success!!! ##
test_top_twenty_highest_grossing_games[19]    ## Success!!! ##
test_na_median_sales    ## Success!!! ##
test_ten_median_na_seller_names    ## Success!!! ##